<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome to FindMyJob!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            {% stylesheets '../app/Resources/public/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>

    <body>
        <header class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{{ path('static_page_home') }}">FindMyJob</a>
                    <ul class="nav pull-left">
                        <li><a href="{{ path('static_page_about') }}">About Us</a></li>
                        <li><a href="{{ path('static_page_help') }}">Help</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li><a href="{{ path('work_createJob') }}">{{ 'For Employer' }}</a></li>
                            <li><a href="{{ path('fos_user_profile_show') }}">{{ 'Profile' }}</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </header>


        <div class="container" style="margin-top: 50px;">
            {% for key, message in app.session.getFlashes() %}
            <div class="{{ key }} text-warning">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
            {% endfor %}
        
        {% block body %}
        {% endblock %}

        <!-- {% block javascripts %}
          <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
          {% javascripts '../app/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
          {% endjavascripts %}
        {% endblock %}
    	 -->
        </div>
        <footer class="footer">
            Powered by Nguyen Duc Van, 2013            
        </footer>
    </body>
</html>
