{% extends '::base.html.twig' %}

{% block title %}Create a job{% endblock %}

{% block body %}
<form action="{{ path('work_createJob') }}" method="post" {{ form_enctype(form) }}>
{{ form_errors(form) }}
{{ form_row(form.title) }}
{{ form_row(form.contact) }}
{{ form_label(form.requiredApplication, 'Required Application') }}
{{ form_widget(form.requiredApplication) }}
<div>
  {{ form_label(form.languages) }}
  {{ form_widget(form.languages) }}
</div>

<div>
  {{ form_label(form.categories) }}
  {{ form_widget(form.categories) }}
</div>

<div>
  Job Benefit
  <div>
    {{ form_label(form.salary) }}
    {{ form_widget(form.salary) }}
  </div>
  <div>
    {{ form_label(form.otherBenefit, 'Other Benefit') }}
    {{ form_widget(form.otherBenefit) }}
  </div>
</div>

<div>
  {{ form_label(form.jobRequirement, 'Job Requirement') }}
  {{ form_widget(form.jobRequirement) }}
</div>
{{ form_rest(form) }}
<input type="submit" />
</form>
{% endblock %}