{% extends '::base.html.twig' %}

{% block title %}Create a job{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets '@AcmeWorkBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% form_theme form _self %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        <div class="alert alert-error">
            {% for error in errors %}
                <div>{{
                    error.messagePluralization is null
                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                }}</div>
            {% endfor %}
        </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block choice_widget_expanded %}
{% spaceless %}
<div {{ block('widget_container_attributes') }}>
{% for child in form %}
    <label class="choice-item">
        {{ form_widget(child, {'attr': {'class': attr.widget_class|default('')}}) }}
        {{ child.vars.label|trans({}, translation_domain) }}<br>
    </label>
{% endfor %}
</div>
{% endspaceless %}
{% endblock %}

{% block body %}
<form action="{{ path('work_createJob') }}" method="post" {{ form_enctype(form) }}>
{{ form_errors(form) }}
{{ form_row(form.title, { 'label' : 'mylabel', 'attr' : { 'class' : 'myclass' }}) }}
{{ form_row(form.contact) }}

<div>
  Job Description
  <div>
    {{ form_label(form.categories, 'Job Category') }}
    {{ form_errors(form.categories) }}
    {{ form_widget(form.categories) }}
  </div>
  <div>
    {{ form_label(form.jobPosition, 'Job Position')}}
    {{ form_widget(form.jobPosition) }}
  </div>
  <div>
    {{ form_label(form.otherDescription, 'Other Job Description')}}
    {{ form_widget(form.otherDescription) }}
  </div>
</div>

<div>
  Job Benefit
  <div>
    {{ form_label(form.salary) }}
    {{ form_widget(form.salary) }}
  </div>
  <div>
    {{ form_label(form.otherBenefit, 'Other Benefit') }}
    {{ form_widget(form.otherBenefit) }}
  </div>
</div>

<div>
  Job Requirement
  <div>
    {{ form_label(form.languages) }}
    {{ form_errors(form.languages) }}
    {{ form_widget(form.languages) }}
  </div>
  {{ form_label(form.jobRequirement, 'Other Requirement') }}
  {{ form_widget(form.jobRequirement) }}
</div>

<div>
  {{ form_label(form.requiredApplication, 'Required Application') }}
  {{ form_widget(form.requiredApplication) }}
</div>
{{ form_rest(form) }}
<input type="submit" />
</form>
{% endblock %}