{% extends '::base.html.twig' %}

{% block title %}{{ job.title }}{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets '@AcmeWorkBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block body %}
  {% if app.user.id == job.user.id %}
    <a href="{{ path('work_updateJob', { 'id': job.id }) }}" class="btn btn-primary">Update this job</a>
  {% endif %}
  <h1>{{ job.title }}</h1>

  <div class="job-feature">
    <div class="job-feature-label">
      Expired Date (day-month-year)
    </div>
    <div class="job-feature-detail">
      {{ job.expiredDate|date('d-m-Y') }}      
    </div>
  </div>
    
  <div class="job-feature">
  <div class="job-feature-label">Job Description</div>
    <div class="job-feature-detail">
      <div class="job-feature-label">
        Job Category
      </div>
      <ul> 
      {% for ca in job.categories %}
        <li>{{ ca.name }}</li>
      {% endfor %}
      </ul>
    </div>
    
    <div class="job-feature-detail">
      <div class="subfeature-label">
        Job Position
      </div>
      {{ job.jobPosition.name }}      
    </div>

    <div class="controls controls-row">
      <div class="job-feature-detail needed-number">
        <div class="subfeature-label">
          Needed Number
        </div>
        {{ job.neededNumber }}
      </div>
      <div class="job-feature-detail recruited-number">
        <div class="subfeature-label">
          Recruited Number
        </div>
        {{ job.recruitedNumber }}
      </div>
    </div>

    <div class="job-feature-detail">
      <div class="subfeature-label">
        Other Job Description
      </div>
      {{ job.otherDescription|nl2br }}
    </div>
  </div>

  <div class="job-feature">
    <div class="job-feature-label">Job Benefit</div>
    <div class="job-feature-detail">
      <div class="subfeature-label">
        Salary
      </div>
      {{ job.salary.level }}
    </div>
    <div class="job-feature-detail">
      <div class="subfeature-label">
        Other Benefit
      </div>
      {{ job.otherBenefit|nl2br }}
    </div>
  </div>
      
  <div class="job-feature">
    <div class="job-feature-label">Job Requirement</div>
    <div class="job-feature-detail">
      <div class="subfeature-label">
        Prefered Languages
      </div>
      <ul> 
      {% for la in job.languages %}
        <li>{{ la.name }}</li>
      {% endfor %}
      </ul>
    </div>
    <div class="job-feature-detail">
      <div class="subfeature-label">
        Other Requirement
      </div>
      {{ job.jobRequirement|nl2br }}
    </div>
  </div>

  <div class="job-feature">
    <div class="job-feature-label">
      Required Application
    </div>
    <div class="job-feature-detail">
      {{ job.requiredApplication|nl2br }}
    </div>
  </div>

  <div class="job-feature">
    <div class="job-feature-label">Contact Infomation</div>
    <div class="job-feature-detail">
      {{ job.contact }}
    </div>
  </div>

  <div class="controls controls-row">
    <div class="job-feature span8">
      <div class="job-feature-label">Company Address</div>
      <div class="job-feature-detail">
        {{ job.address}}
      </div>
    </div>

    <div class="job-feature for-fit">
      <div class="job-feature-label">Location</div>
      <div class="job-feature-detail">
        {{ job.location.name }}
      </div>
    </div>
  </div>
{% endblock %}