{% extends '::base.html.twig' %}

{% block title %}Edit your resume{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets '@AcmeWorkBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% form_theme form _self %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        <div class="alert alert-error">
            {% for error in errors %}
                <div>{{
                    error.messagePluralization is null
                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                }}</div>
            {% endfor %}
        </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block choice_widget_expanded %}
{% spaceless %}
<div {{ block('widget_container_attributes') }}>
{% for child in form %}
    <label class="choice-item">
        {{ form_widget(child, {'attr': {'class': attr.widget_class|default('')}}) }}
        {{ child.vars.label|trans({}, translation_domain) }}<br>
    </label>
{% endfor %}
</div>
{% endspaceless %}
{% endblock %}

{% block date_widget %}
{% spaceless %}
<div {{ block('widget_container_attributes') }}>
  <input type="date" name="form[birthday]">
</div>
{% endspaceless %}
{% endblock %}

{% block body %}
<h1>Edit your resume</h1>
<form action="{{ path('work_updateResume', { 'id': resume.id }) }}" method="post" {{ form_enctype(form) }}>
{{ form_errors(form) }}

<div class="controls controls-row">
  <div class="job-feature span8">
    {{ form_label(form.realName, 'Real Name', { 'label_attr': {'class': 'job-feature-label'} }) }}
    <div class="job-feature-detail">
      {{ form_errors(form.realName) }}
      {{ form_widget(form.realName) }}
    </div>
  </div>

  <div class="job-feature for-fit date-feature">
    {{ form_label(form.birthday, 'Birthday', { 'label_attr': {'class': 'job-feature-label'} }) }}
    <div class="job-feature-detail">
      {{ form_errors(form.birthday) }}
      {{ form_widget(form.birthday) }}
    </div>
  </div>
</div>


<div class="job-feature">
  {{ form_label(form.contact, 'Contact (phone number, email, etc)', { 'label_attr': {'class': 'job-feature-label'} }) }}
  <div class="job-feature-detail">
    {{ form_errors(form.contact) }}
    {{ form_widget(form.contact) }}
  </div>
</div>

<div class="job-feature">
  {{ form_label(form.graduatedPlace, 'Granduated Place', { 'label_attr': {'class': 'job-feature-label'} }) }}
  <div class="job-feature-detail">
    {{ form_errors(form.graduatedPlace) }}
    {{ form_widget(form.graduatedPlace) }}
  </div>
</div>

<div class="job-feature">
  {{ form_label(form.falcuty, 'Faculty', { 'label_attr': {'class': 'job-feature-label'} }) }}
  <div class="job-feature-detail">
    {{ form_errors(form.falcuty) }}
    {{ form_widget(form.falcuty) }}
  </div>
</div>

<div class="job-feature">
  {{ form_label(form.averageScore, 'Average Score', { 'label_attr': {'class': 'job-feature-label'} }) }}
  <div class="job-feature-detail">
    {{ form_errors(form.averageScore) }}
    {{ form_widget(form.averageScore) }}
  </div>
</div>

<div class="job-feature">
  {{ form_label(form.aboutMe, 'About me', { 'label_attr': {'class': 'job-feature-label'} }) }}
  <div class="job-feature-detail">
    {{ form_errors(form.aboutMe) }}
    {{ form_widget(form.aboutMe) }}
  </div>
</div>

<div class="job-feature">
  {{ form_label(form.languages, 'Languages', { 'label_attr': {'class': 'job-feature-label'} }) }}
  <div class="job-feature-detail">
    {{ form_errors(form.languages) }}
    {{ form_widget(form.languages) }}
  </div>
</div>

{{ form_rest(form) }}
<input type="submit" class="btn btn-primary btn-large offset5" style="margin-top: 20px;"/>
</form>
{% endblock %}