{% extends '::base.html.twig' %}

{% block title %}Your resumes{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets '@AcmeWorkBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block body %}
  <h1>Your resumes</h1>
  {% for resume in resumes %}
    <a href="{{ path('work_showResume', { 'id': resume.id }) }}">resume {{ resume.id }}</a>
      {{ resume.location.name }}
      {{ resume.salary.level }}
      <br>
  {% endfor %}
{% endblock %}