{% extends '::base.html.twig' %}

{% block title %}{{ 'Your resume' }}{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets '@AcmeWorkBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block body %}
  {% if app.user.id == resume.user.id %}
    <a href="{{ path('work_updateResume', { 'id': resume.id }) }}" class="btn btn-primary">Update this resume</a>
  {% endif %}
  <h1>Your resume</h1>

<div class="controls controls-row">
  <div class="job-feature span8">
    <div class="job-feature-label">
      Real Name
    </div>
    <div class="job-feature-detail">
      {{ resume.realName }}
    </div>
  </div>

  <div class="job-feature for-fit date-feature">
    <div class="job-feature-label">
      Birthday
    </div>
    <div class="job-feature-detail">
      {{ resume.birthday|date('d-m-Y') }}
    </div>
  </div>
</div>

<div class="job-feature">
  <div class="job-feature-label">
    Contact
  </div>
  <div class="job-feature-detail">
    {{ resume.contact }}
  </div>
</div>

<div class="job-feature">
  <div class="job-feature-label">
    Graduated Place
  </div>
  <div class="job-feature-detail">
    {{ resume.graduatedPlace }}
  </div>
</div>

<div class="job-feature">
  <div class="job-feature-label">
    Faculty
  </div>
  <div class="job-feature-detail">
    {{ resume.falcuty }}
  </div>
</div>

<div class="job-feature">
  <div class="job-feature-label">
    Average score
  </div>
  <div class="job-feature-detail">
    {{ resume.averageScore }}
  </div>
</div>

<div class="job-feature">
  <div class="job-feature-label">
    About me
  </div>
  <div class="job-feature-detail">
    {{ resume.aboutMe }}
  </div>
</div>

<div class="job-feature">
  <div class="job-feature-label">
    Language
  </div>
  <div class="job-feature-detail">
    <ul> 
      {% for la in resume.languages %}
        <li>{{ la.name }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}