{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="span4" style="margin: 0 auto; float: none; margin-top: 10%;">
  {% if error %}
      <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
  {% endif %}

  <form action="{{ path("fos_user_security_check") }}" method="post">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

      <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
      <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" style="width: 100%;"/>

      <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
      <input type="password" id="password" name="_password" required="required" style="width: 100%;" />

      <div style="margin-bottom: 10px;">
      <input type="checkbox" id="remember_me" name="_remember_me" value="on" style="margin-top:0px;" />
      <div for="remember_me" style="display:inline;">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</div>
      </div>

      <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
  </form>
</div>
{% endblock fos_user_content %}
